/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background__image: url("../images/cover-image-dark.png");
  --background__color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --text__title-color: #ff0070;
  --button__hover-opacity: 1px solid rgba(255, 0, 112, 0.4);
}
