/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background__image: url("../images/cover-image-light.png");
  --background__color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --text__title-color: #353430;
  --button__hover-opacity: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --background__image: url("../images/cover-image-light.png");
    --background__color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --text__title-color: #353430;
    --button-text-color: #353430;
    --button__hover-opacity: 1px solid rgba(50, 49, 45, 0.4);
  }
}

.theme-light .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
