/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background__color);
  background-image: var(--background__image);
  background-attachment: fixed;
  max-inline-size: 1440px;
}

.header {
  margin: 0 auto;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  max-inline-size: 1440px;
}

.decorated-corner::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  bottom: 10px;
  align-self: end;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--corner__color);
  left: 10px;
}

.decorated-corner::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 25px;
  height: 25px;
  justify-self: end;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--corner__color);
  top: 10px;
  right: 10px;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 65px;
  justify-self: end;
}

.header__theme-menu-button {
  box-sizing: border-box;
  width: 70px;
  height: 26px;
  background-color: transparent;
  border: solid 1px transparent;
  outline: none;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--text__title_color);
  text-transform: lowercase;
  padding-bottom: 6px;
}

.header__theme-menu-button:hover {
  outline: var(--button__hover_opacity);
}

.header__theme-menu-button_active {
  border: solid 1px var(--text__title_color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: solid 1px var(--text__title_color);
}

.big__font_title {
  min-width: 355px;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title__color);
  text-shadow: 4px 4px 0px var(--accent__color);
  margin: 0;
  margin-block-start: 12px;
  justify-self: center;
  box-sizing: border-box;
}

.header__text {
  background-color: var(--accent__color);
  display: block;
  min-width: 355px;
  height: min-content;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.5px;
  color: var(--subtitle__text_color);
  margin-block-start: 42.5px;
}

.header__decorate_text {
  display: block;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent__color);
  position: absolute;
  right: 39px;
  top: 10px;
}

.header__decorate_text::after {
  margin: 0;
  padding: 0;
  content: "";
  display: flex;
  background-color: #ff0070;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px #ff0070;
  position: absolute;
  box-sizing: border-box;
  top: 8px;
  left: 43px;
}

/* MAIN  */

.description {
  margin: 0 auto;
  min-width: 355px;
  background-color: var(--background__color);
  box-sizing: border-box;
  padding-block-start: 40px;
  display: grid;
  max-inline-size: 1440px;
  padding-block-end: 40px;
}

.description:not(:last-child) {
  gap: 50px;
}

.text__block_title {
  margin: 0;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text__title_color);
  box-sizing: border-box;
}

.title-decor {
  margin: 0;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--subtitle__text_color);
  background: var(--accent__color);
}

.text__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text__block_intro {
  margin: 0;
  display: block;
  font-family: "IBM Plex Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text__color);
  box-sizing: border-box;
}

.text__block_subtitle-span {
  font-weight: 400;
  color: #000028;
}

.container__block {
  width: calc(100% - 20px);
  margin: 0 auto;
  display: grid;
  gap: 20px;
  box-sizing: border-box;
}

.card__block {
  display: grid;
  gap: 20px;
}

.card__block_img {
  min-width: 355px;
  display: grid;
  gap: 10px;
}

.container__block_img {
  gap: 10px;
}

.card {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent__color);
  color: var(--text__color);
}

a:hover {
  border-bottom: solid 2px var(--text__color);
}

a:focus-visible {
  outline: solid 1px var(--text__color);
}

.footer {
  margin: 0 auto;
  height: 100vh;
  min-height: 668px;
  min-width: 375px;
  align-content: center;
  box-sizing: border-box;
  background-color: var(--background__color);
  position: relative;
  max-inline-size: 1440px;
}

.footer__title {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}

@media (width >= 768px) {
  .decorated-corner::before {
    left: 20px;
    bottom: 20px;
  }

  .decorated-corner::after {
    right: 20px;
    top: 20px;
  }

  .header__decorate_text {
    top: 20px;
    right: 48px;
  }

  .header {
    padding: 0;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    margin: 0;
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    padding-right: 20px;
    padding-bottom: 52px;
  }

  .header__theme-menu-list {
    margin: 0;
  }

  .header__title {
    margin: 0;
    padding: 0;
    grid-column: 1 / 3;
    grid-row: 2;
    justify-self: start;
    align-self: center;
  }

  .big__font_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    grid-row: 3;
    grid-column: 2;
    margin: 40px 20px 0 0;
  }

  .description {
    padding: 0;
    padding-block-start: 60px;
    padding-block-end: 60px;
    width: 100vw;
  }

  .description:not(:last-child) {
    gap: 80px;
  }

  .container__block {
    width: calc(100% - 40px);
  }

  .container__block_why {
    grid-template-columns: 1fr 2fr;
  }

  .card__block {
    gap: 0;
    row-gap: 20px;
  }

  .title__what {
    width: 30%;
    text-align: start;
  }

  .container__block_how {
    grid-template-columns: 1fr 2fr;
    padding-block-end: 2px;
  }

  .container__block_img {
    gap: 20px;
  }

  .card__block_img {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card {
    object-fit: cover;
    overflow: hidden;
  }

  .card__sunset {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .card__ice-cream {
    grid-row: 1 / span 2;
    grid-column: 3;
  }

  .card__tape {
    grid-row: 2 / span 2;
    grid-column: 1;
  }

  .card__books {
    grid-row: 2;
    grid-column: 2;
  }

  .card__street {
    grid-row: 3;
    grid-column: 2 / span 2;
  }
}
@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / span 2;
    align-self: flex-start;
    justify-self: center;
    padding-inline-start: 20px;
    padding-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    margin-top: 50px;
  }
  .container__block_how {
    grid-template-columns: 32% 1fr;
  }

  .container__block_why {
    grid-template-columns: 32% 1fr;
  }

  .container__block_what {
    grid-template-rows: min-content 1fr;
  }

  .card__block_what {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
