/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background__image: url("../images/cover-image-dark.png");
  --background__color: #000028;
  --accent__color: #ff0070;
  --title__color: #db00ff;
  --text__color: #f1b2ce;
  --text__title_color: #ff0070;
  --button__text_color: #ff0070;
  --button__hover_opacity: 1px solid rgba(255, 0, 112, 0.4);
  --corner__color: #FF0070;
  --subtitle__text_color: #000028;
}
